.vscode/
__pycache__/
**/fil-result/
**/Pickles/
**/profiler_output/
**/user_problems.txt
**/scratch_experiments/
**/Tree_Directory/
.python-version
todo.txt
*.svg
Supporting_Documents/
Outputs/

# venv stuff
.venv/
bin/
include/
lib/
pyvenv.cfg