certifi==2025.8.3
charset-normalizer==3.4.3
cmd2==2.7.0
colorama==0.4.6
filprofiler==2024.11.2
gitdb==4.0.12
GitPython==3.1.45
gnureadline==8.2.13
idna==3.10
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.2.6
PrettyPrintTree==2.0.1
py-spy==0.4.1
Pygments==2.19.2
Pympler==1.1
pyperclip==1.9.0
requests==2.32.5
rich==14.1.0
rich-argparse==1.7.1
smmap==5.0.2
threadpoolctl==3.6.0
urllib3==2.5.0
wcwidth==0.2.13
xxhash==3.5.0
